<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="in.di.beans.Address" id="addid">
		<property name="area" value="Kolar colony" />
		<property name="city" value="Bhopal" />
		<property name="pincode" value="462016" />
	</bean>

	<bean class="in.di.beans.Student" id="std1">
		<property name="name" value="Dharmendra Patel" />
		<property name="email" value="dharmendra@gmail.com" />
		<property name="address" ref="addid" />
	</bean>

</beans>